@import '../../styles/colors.scss';

.header {
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    background-color: $lighGray;
    align-items: center;
    box-shadow: 0px 5px 10px grey;

    img {
      margin-top: 7%;
      width: 24%;
    }

    h1 {
      margin-top: 45px;
      font-size: 22px;
      font-weight: 100;
      color: $blue;
    }

    h2 {
      margin: 1vh 0vh 4vh 0px;
      font-size: 10px;
      font-weight: 100;
      width: 45%;
      text-align: center;
      color: $lightBlue;
    }
  }