$white: #e9e9e9;
$lighGray: #e3e7e9;
$grey: #ededed;
$darkGrey: #d3d3d3;
$lightGreen: #39ec9f;
$green: #54c787;
$darkGreen: #27a961;
$darkGreenSpecial: #1f834c;
$lightBlue: #93a4b9;
$blue: #545d73;
$error: #c75454;